@import url('https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('./bubbybtn.css');

.searchsub {
    height: 60px;
    width: 700px;
    
    border-radius: 10px;
    background: #000000;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item{
    display: none;
}
.items{
    height: 80% !important;
}
#subject {
    padding: 2px;
    font-size: 20px;
    color: white !important;
    height: 99%;
    border: none;
    background-color: transparent;
    border-radius: 13px;
}

.searchsub img {
    height: 60%;
}

.searchsub input {
    border: none;
    outline: none;
}

.searchsub input:active {
    border: none;
    outline: none;
}

.glow{
    /* display: none; */
    
    background: #06d5ff !important; 
    animation: glow linear 2s infinite;
    cursor: pointer;
}
@keyframes glow {
    0%{
        box-shadow: 0 0 0px cyan;
    }
    50%{
        box-shadow: 0 0 70px cyan;
    }
    100%{
        box-shadow: 0 0 0px cyan;
    }
}
.w-60{
    width: 60px !important;
    border-radius: 50%;
}